* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mt-6 {
    margin-top: 6px;
}

.mt-24 {
    margin-top: 24px;
}

.line {
    line-height: 1.6;
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.txt-lg {
    font-size: 34px;
    font-weight: 500;
    color: #1d1d1d;
}

.txt-md {
    font-size: 20px;
    font-weight: 400;
    color: #1d1d1d;
}

.txt-sm {
    font-size: 16px;
    font-weight: 300;
    color: #444;
}

.txt-xs {
    font-size: 14px;
    font-weight: 300;
    color: #444;
}

.txt-blue {
    font-size: 16px;
    font-weight: 300;
    color: #6fbaf8;
}

.btn {
    background-color: #6fbaf8;
    padding: 8px 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    border: none;
}

.profile-adress {
    display: flex;
    gap: 6px;
    align-items: center;
}

main {
    background-color: #f7f9fc;
    padding: 100px 160px;
    width: 100%;
}

.profile {
    background-color: #fff;
    width: 100%;
    display: flex;
    border-radius: 12px;
    padding: 40px 60px;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.1);
}

.profile-main {
    flex: 1 1 60%;
    padding: 0 40px;
    display: flex;
    gap: 24px;
    align-items: center;
    border-right: 1px solid #c6c6c6;
}

.profile-img-wrap {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.profile-img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.profile-info {
    flex: 1 1 40%;
    border-collapse: collapse;
    margin-left: 40px;
}

.profile-info td {
    padding: 5px 0;
}

.contents {
    margin-top: 40px;
}

.contents-group {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 24px;
}

.contents01 {
    flex: 1 1 20%;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 32px 32px 200px 32px;

}

.contents02 {
    flex: 1 1 60%;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 32px 32px 200px 32px;
}

.contents03 {
    flex: 1 1 20%;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 32px;
}

.works-group {
    margin-top: 24px;
}

.contents-about {
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 60px;
}

.skill-group {
    display: flex;
    gap: 8px;
}

.badge {
    padding: 6px 18px;
    border: 1px solid #bdbdbd;
    border-radius: 50px;
}


.contents-login {
    text-align: center;
}

.contents-login i {
    color: #6fbaf8;
    font-size: 50px;
}

.contents-tit {
    display: flex;
}

.contents-tit-main {
    padding: 12px 32px 12px 32px;
    color: #6fbaf8;
    font-size: 20px;
    border-bottom: 3px solid #6fbaf8;
}

.contents-tit-sub {
    width: 100%;
    border-bottom: 3px solid #e4e4e4;
}

progress {
  /*기본 배경은 없애주는게 좋습니다*/
  -webkit-appearance: none;
  -moz-appearance : none;
  appearance: none;
  background: white;
/* IE10 호환성용 */
  color: red;
}
progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
}
progress::-webkit-progress-value {
  background-color: red;
  border-radius: 2px;
}



@media screen and (max-width: 1024px) {
    main {
        padding: 40px 24px;
    }

    .profile {
        flex-direction: column;
        padding: 24px
    }

    .profile-main {
        width: 100%;
        border: none;
        padding: 0;
    }

    .profile-info {
        width: 100%;
        margin-top: 40px;
        margin-left: 0;
    }

    .contents-group {
        flex-direction: column;
    }

    .contents01,
    .contents02,
    .contents03 {
        width: 100%;
        padding: 24px;
    }

    .skill-group {
        flex-wrap: wrap;
    }

    .contents01 {
        flex-basis: 25%;
    }

    .contents02 {
        flex-basis: 50%;
    }

    .contents03 {
        flex-basis: 25%;
    }

}

@media screen and (max-width: 480px) {
    main {
        padding: 24px 16px;
    }

    .profile {
        flex-direction: column;
        padding: 24px
    }

    .profile-img-wrap {
        width: 100px;
        height: 100px;
    }

    .profile-info {
        width: 100%;
        margin-top: 40px;
        margin-left: 0;
    }

    .contents-group {
        flex-direction: column;
    }

    .contents01,
    .contents02,
    .contents03 {
        padding: 20px;
    }

    .txt-lg {
        font-size: 24px;
    }
}